@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background: #f8f8ff;
}

h1 {
    text-align: center;
    font-size: 600;
    font-weight: 600;
    padding: 30px;
    font-size: 80px;
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}